parameters:
	ignoreErrors:
		-
			message: '#^Strict comparison using \=\=\= between string and false will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: src/Authenticator/HttpDigestAuthenticator.php

		-
			message: '#^Parameter \#1 \$ldap of function ldap_bind expects LDAP\\Connection, resource given\.$#'
			identifier: argument.type
			count: 1
			path: src/Identifier/Ldap/ExtensionAdapter.php

		-
			message: '#^Parameter \#1 \$ldap of function ldap_get_option expects LDAP\\Connection, resource given\.$#'
			identifier: argument.type
			count: 1
			path: src/Identifier/Ldap/ExtensionAdapter.php

		-
			message: '#^Parameter \#1 \$ldap of function ldap_set_option expects LDAP\\Connection\|null, resource given\.$#'
			identifier: argument.type
			count: 1
			path: src/Identifier/Ldap/ExtensionAdapter.php

		-
			message: '#^Parameter \#1 \$ldap of function ldap_unbind expects LDAP\\Connection, resource\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/Identifier/Ldap/ExtensionAdapter.php

		-
			message: '#^Property Authentication\\Identifier\\Ldap\\ExtensionAdapter\:\:\$_connection \(resource\|null\) does not accept LDAP\\Connection\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/Identifier/Ldap/ExtensionAdapter.php
