<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    colors="true"
    processIsolation="false"
    stopOnFailure="false"
    bootstrap="./tests/bootstrap.php"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
>
  <coverage>
    <include>
      <directory suffix=".php">src/</directory>
    </include>
    <exclude>
      <file>src/Identifier/Ldap/ExtensionAdapter.php</file>
    </exclude>
  </coverage>

  <php>
    <ini name="memory_limit" value="-1"/>
    <env name="FIXTURE_SCHEMA_METADATA" value="./vendor/cakephp/cakephp/tests/schema.php"/>
  </php>

  <testsuites>
    <testsuite name="authentication">
      <directory>tests/TestCase/</directory>
    </testsuite>
  </testsuites>

  <extensions>
    <extension class="Cake\TestSuite\Fixture\PHPUnitExtension"/>
  </extensions>
</phpunit>
